[mysqld]
user 				   = root
datadir 			   = /app/mysql
port 				   = 3306
lower_case_table_names = 1

log-slow-queries	   = /var/lib/slowquery.log
long_query_time		   = 2

log-bin 			   = mysql-bin
binlog_format 		   = row
expire_logs_days	   = 15

